@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1200px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 40px;
$padding-sp: 16px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "font-family: 'Montserrat', "游ゴシック", sans-serif";
$second-font-family: "";
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
  font-size: 10px;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$font-key-black: #3E3E3E;
$font-key-white: #fff;
$key-gray: #F3F3F3;
$key-orange: #FFAA3B;
$key-blue: #4973FF;
$key-red: #FF4646;
